In [2]:
import pandas as pd

In [3]:
!ls data

bom.movie_gross.csv  title.akas.csv	   title.ratings.csv
name.basics.csv      title.basics.csv	   tmdb.movies.csv
rt.movie_info.tsv    title.crew.csv	   tn.movie_budgets.csv
rt.reviews.tsv	     title.principals.csv

In [4]:
# Title, Studio, Domestic Gross, Foreign Gross, Year
movie_gross_df = pd.read_csv('data/bom.movie_gross.csv')

# Name variable (nconst), Name of Crew/Principal, Primary Profession, Known for Titles (tconst)
people_info_df = pd.read_csv('data/name.basics.csv')

# ID, Rating, Genre, Director, Writer, Theater Date, Box Office, Runtime, Studio
rt_movie_info_df = pd.read_csv('data/rt.movie_info.tsv', delimiter='\t')

# ID, Rating, Fresh, Top Critic
rt_movie_reviews_df = pd.read_csv('data/rt.reviews.tsv', delimiter='\t', encoding='latin1')

# Title ID, Title, Region, Language
title_akas_df = pd.read_csv('data/title.akas.csv')

# Title ID (tconst), Primary Title, Original Title, Year, Runtime, Genres
title_basics_df = pd.read_csv('data/title.basics.csv')

# Title ID (tconst), Directors (nconst), Writers (nconst)
title_crew_df = pd.read_csv('data/title.crew.csv')

# Title ID (tconst), People (nconst), Category (primary profession)
title_principals_df = pd.read_csv('data/title.principals.csv')

# Titled ID (tconst), Rating, Num Votes
title_ratings_df = pd.read_csv('data/title.ratings.csv')

# Genre, Language, Original Title, Popularity, Date, Title, Average Rating, Num of Ratings
tmdb_movies_df = pd.read_csv('data/tmdb.movies.csv')

# Release Date, Title, Budget, Domestic Gross, Worldwide Gross
movie_budgets_df = pd.read_csv('data/tn.movie_budgets.csv')

Matt is going to work on joining any of the dataframes with the tconst or nconst variables.

Grace will work on joining the Rotten Tomatoes dataframes.

Jeff will work on joining the rest.

Matt's dataframes:

people_info_df

title_akas_df

title_basics_df

title_crew_df

title_principals_df

title_ratings_df

In [21]:
title_principals_df.groupby('tconst').count()

           ordering  nconst  category  job  characters
tconst
tt0063540        10      10        10    4           4
tt0066787         7       7         7    1           3
tt0069049        10      10        10    2           4
tt0069204        10      10        10    1           5
tt0100275        10      10        10    4           0
...             ...     ...       ...  ...         ...
tt9916538        10      10        10    5           4
tt9916622        10      10        10    3           4
tt9916706        10      10        10    1           0
tt9916730         9       9         9    2           0
tt9916754        10      10        10    2           4

[143454 rows x 5 columns]

In [ ]:
# Should the principals merge be a join?
# merge1_df = title_principals_df.merge(title_akas_df, how='left', left_on='tconst', right_on='title_id')
# merge1_df

In [46]:
# merge1_df = title_principals_df.join(title_akas_df, how='left', lsuffix='tconst', rsuffix='title_id')
# merge1_df

In [10]:
print(people_info_df.columns)

print(title_akas_df.columns)

print(title_basics_df.columns)

print(title_crew_df.columns)

print(title_principals_df.columns)

print(title_ratings_df.columns)

Index(['nconst', 'primary_name', 'birth_year', 'death_year',
       'primary_profession', 'known_for_titles'],
      dtype='object')
Index(['title_id', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'is_original_title'],
      dtype='object')
Index(['tconst', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres'],
      dtype='object')
Index(['tconst', 'directors', 'writers'], dtype='object')
Index(['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'], dtype='object')
Index(['tconst', 'averagerating', 'numvotes'], dtype='object')

In [18]:
print(people_info_df.shape)

print(title_akas_df.shape)

print(title_basics_df.shape)

print(title_crew_df.shape)

print(title_principals_df.shape)

print(title_ratings_df.shape)

(606648, 6)
(331703, 8)
(146144, 6)
(146144, 3)
(1028186, 6)
(73856, 3)

In [49]:
print(people_info_df.shape)

print(len(pd.unique(title_akas_df['title_id'])))

print(len(pd.unique(title_basics_df['tconst'])))

print(len(pd.unique(title_crew_df['tconst'])))

print(len(pd.unique(title_principals_df['tconst'])))

print(len(pd.unique(title_ratings_df['tconst'])))

(606648, 6)
122302
146144
146144
143454
73856

In [56]:
first_join = title_basics_df.merge(title_crew_df, how='left', left_on='tconst', right_on='tconst')
first_join

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,directors,writers
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",nm0002411,NaN
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,nm0000080,"nm0000080,nm0462648"
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",nm0611531,nm0347899
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy","nm0765384,nm0749914","nm1360635,nm0749914"
...,...,...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama,nm8185151,"nm4843252,nm4900525,nm2679404"
146140,tt9916622,Rodolpho TeÃ³philo - O Legado de um Pioneiro,Rodolpho TeÃ³philo - O Legado de um Pioneiro,2015,NaN,Documentary,"nm9272490,nm9272491","nm9272490,nm9272491"
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy,nm7764440,nm7933903
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN,nm10538612,nm10538612
146143,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490"

In [57]:
second_join = first_join.merge(title_principals_df, how='left', left_on='tconst', right_on='tconst')
second_join

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,directors,writers,ordering,nconst,category,job,characters
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10.0,nm0006210,composer,NaN,NaN
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",1.0,nm0474801,actor,NaN,"[""Kundan S. Prasad"",""Bajrangi""]"
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",2.0,nm0904537,actress,NaN,"[""Munni"",""Laila-E-Aasmaan""]"
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",3.0,nm0756379,actor,NaN,"[""Ganeshi N. Prasad""]"
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",4.0,nm0474876,actor,NaN,"[""Dwarka N. Prasad""]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030871,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",5.0,nm9272490,director,supervising director,NaN
1030872,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",6.0,nm8349149,director,co-director,NaN
1030873,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",7.0,nm9272489,cinematographer,NaN,NaN
1030874,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",8.0,nm10538638,cinematographer,NaN,NaN
1030875,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",9.0,nm10538635,cinematographer,NaN,NaN

In [59]:
third_join = second_join.merge(title_ratings_df, how='left', left_on='tconst', right_on='tconst')
third_join

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,directors,writers,ordering,nconst,category,job,characters,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10.0,nm0006210,composer,NaN,NaN,7.0,77.0
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",1.0,nm0474801,actor,NaN,"[""Kundan S. Prasad"",""Bajrangi""]",7.0,77.0
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",2.0,nm0904537,actress,NaN,"[""Munni"",""Laila-E-Aasmaan""]",7.0,77.0
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",3.0,nm0756379,actor,NaN,"[""Ganeshi N. Prasad""]",7.0,77.0
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",4.0,nm0474876,actor,NaN,"[""Dwarka N. Prasad""]",7.0,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030871,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",5.0,nm9272490,director,supervising director,NaN,NaN,NaN
1030872,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",6.0,nm8349149,director,co-director,NaN,NaN,NaN
1030873,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",7.0,nm9272489,cinematographer,NaN,NaN,NaN,NaN
1030874,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",8.0,nm10538638,cinematographer,NaN,NaN,NaN,NaN
1030875,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",9.0,nm10538635,cinematographer,NaN,NaN,NaN,NaN

In [61]:
fourth_join = third_join.merge(title_akas_df, how='left', left_on='tconst', right_on='title_id')
fourth_join

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,directors,writers,ordering_x,nconst,...,averagerating,numvotes,title_id,ordering_y,title,region,language,types,attributes,is_original_title
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10.0,nm0006210,...,7.0,77.0,tt0063540,1.0,Sangharsh,IN,hi,NaN,alternative transliteration,0.0
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10.0,nm0006210,...,7.0,77.0,tt0063540,2.0,Sunghursh,NaN,NaN,original,NaN,1.0
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10.0,nm0006210,...,7.0,77.0,tt0063540,3.0,Sunghursh,IN,NaN,NaN,NaN,0.0
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10.0,nm0006210,...,7.0,77.0,tt0063540,4.0,Sunghursh,IN,hi,NaN,alternative transliteration,0.0
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10.0,nm0006210,...,7.0,77.0,tt0063540,5.0,Sungharsh,IN,hi,NaN,alternative spelling,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2975780,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",5.0,nm9272490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2975781,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",6.0,nm8349149,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2975782,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",7.0,nm9272489,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2975783,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",8.0,nm10538638,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2975784,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",9.0,nm10538635,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
fourth_join['title_id'].isna().sum()

134509

In [67]:
fourth_join.groupby('original_title').count()

,tconst,primary_title,start_year,runtime_minutes,genres,directors,writers,ordering_x,nconst,category,...,averagerating,numvotes,title_id,ordering_y,title,region,language,types,attributes,is_original_title
original_title,,,,,,,,,,,,,,,,,,,,,
#1 Serial Killer,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,10,0,20,0,30
#5,9,9,9,2,9,9,9,9,9,9,...,2,2,2,2,2,2,0,0,0,2
#50Fathers,9,9,9,9,9,9,9,9,9,9,...,0,0,9,9,9,9,0,0,0,9
#66,10,10,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,0,0,0,10
#82 Summits,5,5,5,5,5,5,0,5,5,5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ã¤rtico,50,50,50,50,50,50,50,50,50,50,...,50,50,50,50,50,40,0,30,0,50
Ã¨ solo questione di punti di vista,8,8,8,8,8,8,8,8,8,8,...,0,0,8,8,8,8,0,0,0,8
Ã¨ solo questione di tempo,15,15,15,15,15,15,15,15,15,15,...,0,0,15,15,15,10,0,10,0,15
Ã©lÃ¨ctions piege Ã cons,6,6,6,0,6,6,0,6,6,6,...,0,0,0,0,0,0,0,0,0,0
Ã®mpetu,4,4,4,0,4,4,4,4,4,4,...,0,0,4,4,4,4,0,0,0,4

In [68]:
people_info_df

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"
...,...,...,...,...,...,...
606643,nm9990381,Susan Grobes,NaN,NaN,actress,NaN
606644,nm9990690,Joo Yeon So,NaN,NaN,actress,"tt9090932,tt8737130"
606645,nm9991320,Madeline Smith,NaN,NaN,actress,"tt8734436,tt9615610"
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer,NaN
606647,nm9993380,Pegasus EnvoyÃ©,NaN,NaN,"director,actor,writer",tt8743182

In [69]:
fifth_join = fourth_join.merge(people_info_df, how='left', left_on='nconst', right_on='nconst')
fifth_join

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,directors,writers,ordering_x,nconst,...,region,language,types,attributes,is_original_title,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10.0,nm0006210,...,IN,hi,NaN,alternative transliteration,0.0,Naushad,1919.0,2006.0,"composer,soundtrack,music_department","tt0054910,tt0266765,tt0044392,tt0053999"
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10.0,nm0006210,...,NaN,NaN,original,NaN,1.0,Naushad,1919.0,2006.0,"composer,soundtrack,music_department","tt0054910,tt0266765,tt0044392,tt0053999"
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10.0,nm0006210,...,IN,NaN,NaN,NaN,0.0,Naushad,1919.0,2006.0,"composer,soundtrack,music_department","tt0054910,tt0266765,tt0044392,tt0053999"
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10.0,nm0006210,...,IN,hi,NaN,alternative transliteration,0.0,Naushad,1919.0,2006.0,"composer,soundtrack,music_department","tt0054910,tt0266765,tt0044392,tt0053999"
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",nm0712540,"nm0023551,nm1194313,nm0347899,nm1391276",10.0,nm0006210,...,IN,hi,NaN,alternative spelling,0.0,Naushad,1919.0,2006.0,"composer,soundtrack,music_department","tt0054910,tt0266765,tt0044392,tt0053999"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2975780,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",5.0,nm9272490,...,NaN,NaN,NaN,NaN,NaN,Angela Gurgel,NaN,NaN,"director,writer","tt10006546,tt10231530,tt7378802,tt9916754"
2975781,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",6.0,nm8349149,...,NaN,NaN,NaN,NaN,NaN,Vinicius Augusto Bozzo,1985.0,NaN,"writer,editor,director","tt9916754,tt10118270,tt7378802,tt10163584"
2975782,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",7.0,nm9272489,...,NaN,NaN,NaN,NaN,NaN,Marcelo Alves,NaN,NaN,"cinematographer,producer,director","tt10011778,tt7373112,tt10056288,tt10011880"
2975783,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",8.0,nm10538638,...,NaN,NaN,NaN,NaN,NaN,Wellington Barros,NaN,NaN,cinematographer,"tt10169058,tt9916754"
2975784,tt9916754,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,2013,NaN,Documentary,"nm9272490,nm8349149","nm8349149,nm9272490",9.0,nm10538635,...,NaN,NaN,NaN,NaN,NaN,OdÃ©rio Dias,NaN,NaN,cinematographer,"tt9916754,tt10225704,tt10169058,tt10006546"

In [70]:
fifth_join.groupby('original_title')

,tconst,primary_title,start_year,runtime_minutes,genres,directors,writers,ordering_x,nconst,category,...,region,language,types,attributes,is_original_title,primary_name,birth_year,death_year,primary_profession,known_for_titles
original_title,,,,,,,,,,,,,,,,,,,,,
#1 Serial Killer,30,30,30,30,30,30,30,30,30,30,...,10,0,20,0,30,30,3,0,30,30
#5,9,9,9,2,9,9,9,9,9,9,...,2,0,0,0,2,9,0,0,3,5
#50Fathers,9,9,9,9,9,9,9,9,9,9,...,9,0,0,0,9,9,0,0,9,9
#66,10,10,10,10,10,10,10,10,10,10,...,10,0,0,0,10,10,0,0,10,10
#82 Summits,5,5,5,5,5,5,0,5,5,5,...,0,0,0,0,0,5,1,1,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ã¤rtico,50,50,50,50,50,50,50,50,50,50,...,40,0,30,0,50,50,5,0,50,50
Ã¨ solo questione di punti di vista,8,8,8,8,8,8,8,8,8,8,...,8,0,0,0,8,8,2,1,8,8
Ã¨ solo questione di tempo,15,15,15,15,15,15,15,15,15,15,...,10,0,10,0,15,15,3,0,15,15
Ã©lÃ¨ctions piege Ã cons,6,6,6,0,6,6,0,6,6,6,...,0,0,0,0,0,6,0,0,6,6
Ã®mpetu,4,4,4,0,4,4,4,4,4,4,...,4,0,0,0,4,4,0,0,4,4

In [72]:
fifth_join.isna().sum()

tconst                      0
primary_title               0
original_title             32
start_year                  0
runtime_minutes        280635
genres                  32591
directors               20435
writers                265826
ordering_x               2812
nconst                   2812
category                 2812
job                   2231222
characters            1824758
averagerating          519637
numvotes               519637
title_id               134509
ordering_y             134509
title                  134509
region                 595279
language              2596060
types                 1423140
attributes            2839834
is_original_title      134534
primary_name             3302
birth_year            1833225
death_year            2928068
primary_profession      95934
known_for_titles        49511
dtype: int64